services:
  - type: web
    name: qrmodel
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    autoDeploy: true
    healthCheckPath: /healthz
    envVars:
      - key: SECRET_KEY
        generateValue: true
